<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.kinder_leave.mapper.KinderLeaveInfoMapper">
    
    <resultMap type="KinderLeaveInfo" id="KinderLeaveInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="leaveTime"    column="leave_time"    />
        <result property="reasons"    column="reasons"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectKinderLeaveInfoVo">
        select info_id, leave_time, reasons, status, create_by, create_time, update_by, update_time, remark from kinder_leave_info
    </sql>

    <select id="selectKinderLeaveInfoList" parameterType="KinderLeaveInfo" resultMap="KinderLeaveInfoResult">
        <include refid="selectKinderLeaveInfoVo"/>
        <where>  
            <if test="leaveTime != null "> and leave_time = #{leaveTime}</if>
        </where>
    </select>
    
    <select id="selectKinderLeaveInfoByInfoId" parameterType="Long" resultMap="KinderLeaveInfoResult">
        <include refid="selectKinderLeaveInfoVo"/>
        where info_id = #{infoId}
    </select>
        
    <insert id="insertKinderLeaveInfo" parameterType="KinderLeaveInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into kinder_leave_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leaveTime != null">leave_time,</if>
            <if test="reasons != null">reasons,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leaveTime != null">#{leaveTime},</if>
            <if test="reasons != null">#{reasons},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateKinderLeaveInfo" parameterType="KinderLeaveInfo">
        update kinder_leave_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="leaveTime != null">leave_time = #{leaveTime},</if>
            <if test="reasons != null">reasons = #{reasons},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteKinderLeaveInfoByInfoId" parameterType="Long">
        delete from kinder_leave_info where info_id = #{infoId}
    </delete>

    <delete id="deleteKinderLeaveInfoByInfoIds" parameterType="String">
        delete from kinder_leave_info where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
</mapper>